body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  max-width: 300px;
  border: 1px sold black;
  border-radius: 0.5 rm;
}
.card img {
    max-width: 100%;
}
